/* font familiy to use
 font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* main block */

.main__container {
  background-color: rgba(20, 20, 20, 1);
  padding: 32px;
}

@media (min-width: 678px) {
  .main__container {
    margin: 0 auto;
    display: flex;
    padding: 0px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
  }
}

.main__image-container {
}

.main__image {
  display: none;
}

@media (min-width: 678px) {
  .main__image {
    display: inherit;
    height: 380px;
    width: 450px;
  }
}

@media (min-width: 678px) {
  .main__text-content {
    max-width: 550px;
  }
}

.main__title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.main__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(250, 250, 250, 1);
  padding-top: 20px;
}

/* my services block */

.my-services {
  padding: 30px;
  overflow: auto;
  text-align: center;
}

@media (min-width: 678px) {
  .my-services {
  }
}
.my-services__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.my-services__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 678px) {
  .my-services__container {
    flex-direction: row;
  }
}

.container__services {
  padding: 20px;
}

@media (min-width: 678px) {
  .container__services {
    max-width: 250px;
  }
}

.container__services__img {
  width: 120px;
  height: 120px;
}
.container__services__title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.container__services__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-container {
  background-color: black;
  overflow: auto;
}
