* {
  box-sizing: border-box;
}

body {
  margin: 0%;
}

.container-background-color {
  background-color: black;
}

@media (min-width: 678px) {
  .container-background-color {
    background: linear-gradient(to right, #408195, rgba(0, 210, 135, 0.8) 100%);
  }
}

@media (min-width: 678px) {
  .myForm-container {
    display: flex;
    padding: 80px 200px;
  }
}

.header__home {
  padding: 50px;
}

@media (min-width: 678px) {
  .header__home {
    padding: 0px;
  }
}

@media (min-width: 678px) {
  .form-container {
    display: flex;
    justify-content: center;
    padding: 0px;
    flex-grow: 1;
  }
}
.my-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (min-width: 678px) {
  .my-form {
    flex-grow: 1;
    max-width: 376px;
  }
}

.my-form__title {
  font-family: "Montserrat", sans-serif;
  color: rgba(250, 250, 250, 1);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 30px;
}

@media (min-width: 678px) {
  .my-form__title {
    padding: 0 77px 0 0;
  }
}

.my-form__sections {
  display: grid;
  gap: 27px;
}

.my-form__sections__label {
}

.my-form__sections__name {
  display: block;
  color: rgba(250, 250, 250, 1);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.my-form__sections__input,
.my-form__sections__textarea,
.my-form__button {
  font-family: "Poppins", sans-serif;
  width: 100%;
  border-radius: 4px;
}
.my-form__sections__input,
.my-form__button {
  height: 45px;
}
.my-form__sections__textarea {
  height: 113px;
}

.my-form__button-container {
  margin-bottom: 25px;
}

.my-form__button {
  background-color: rgba(44, 44, 44, 1);
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(219, 219, 219, 1);
}

.my-form__send-message {
  color: rgba(250, 250, 250, 1);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 30px;
  display: none;
}
