* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* block header */

.header-container {
  background-color: black;
}

@media (min-width: 678px) {
  .header-container {
    background: linear-gradient(to right, #958c40, rgba(156, 0, 210, 0.8) 100%);
  }
}

.header__home {
  padding: 80px;
}

@media (min-width: 678px) {
  .header__home {
    padding: 120px;
  }
}

@media (min-width: 678px) {
  .header__home__subtitle {
    text-align: left;
  }
}

.portfolio-content {
  text-align: center;
  background-color: black;
  overflow: auto;
}

@media (min-width: 678px) {
  .portfolio-content {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.portfolio-link {
  text-decoration: none;
}

@media (min-width: 678px) {
  .portfolio-link {
    max-width: 450px;
  }
}

.portfolio-card {
  padding: 0px 50px;
}
.portfolio-card__img {
  width: 290px;
  height: 170px;
}
.portfolio-card__title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 700;
  color: rgba(219, 219, 219, 1);
}
.portfolio-card__description {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: rgba(219, 219, 219, 1);
}
.portfolio-card__link {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  color: rgba(252, 111, 80, 1);
  margin-bottom: 66px;
}
