.header-container {
  background-image: url(../images/image-fondo.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.header-encabezado-container {
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__title {
  color: rgba(255, 255, 255, 1);
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  margin: 0;
  font-weight: 500;
}

.header__container__hamburguer {
  display: grid;
  gap: 7px;
  cursor: pointer;
}

.barra {
  background-color: rgba(255, 255, 255, 1);
  width: 37px;
  height: 6px;
}

.header__home {
  flex-grow: 1;
  padding-top: 35vh;
}

.header__home__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  text-align: center;
}

.header__home__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  text-align: center;
}

.header__container__nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: black;
}
.nav__container__cross {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}
.nav__cross {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
}
.nav__container__links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__link {
  margin-top: 60px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
}
